header {
  @apply container mx-auto px-6 h-[var(--nav-height)] relative;
  @apply sticky top-0 z-30  bg-inherit backdrop-blur-md;
}
logo > span {
  @apply text-black/70;
}
nav {
  @apply flex justify-between items-center h-[var(--nav-height)];
}
main {
  @apply container mx-auto px-6 flex flex-col justify-end h-[calc(100vh-calc(var(--nav-height)))];
}
.menu {
  @apply w-full;
}

.menu > li {
  @apply font-black text-5xl text-transparent whitespace-nowrap py-3 w-full;
  @apply lg:text-7xl;
}

.menu > li > a > span {
  -webkit-text-stroke: 2px rgba(0, 0, 0, 0.4);
  width: 100%;
}

.menu > li:hover > a > span {
  @apply text-black/90;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
}
section {
  @apply h-full flex items-center w-full;

  @apply lg:justify-end lg:text-right;
}

footer {
  @apply text-sm;
  @apply md:flex justify-between items-end;
}
footer > div {
  @apply flex flex-col gap-4 mb-4;
}

footer email_label {
  @apply text-black/70;
}
footer email {
  @apply block;
}

footer .links {
  @apply flex gap-4 text-neutral-600;
}
footer .links a {
  @apply hover:underline underline-offset-2;
}
footer .copyright {
  @apply text-black/50 py-4 block mx-auto w-fit text-xs;
  @apply md:mr-0;
}
#__nuxt > div {
  @apply relative min-h-screen;
}

/* #__nuxt > div {
  @apply flex flex-col justify-between min-h-screen;
} */

.dropdown {
  @apply flex text-xs flex-col items-start text-left whitespace-nowrap right-8 top-10 bg-white py-2 px-4 rounded-md drop-shadow-md absolute z-40;
}

.dropdown ul {
  @apply flex flex-col gap-1;
}

.dropdown ul li {
  @apply block py-2 w-full;
}
